section {
  min-height: calc(100vh - 7rem);
  margin: 1.4rem 0;
  padding: 0;
  background-color: $off-white;
  border-radius: 0.25rem;

  & .section-container {
    display: flex;
    justify-content: flex-end;

    & h1 {
      font-weight: bold;
      font-size: 1.4rem;
      color: $dollyMagenta;
    }

    &__text {
      font-size: 1rem;
    }
  }
}
