section {
  display: block;
  min-height: calc(100vh - 7rem);
  height: 100%; /* this ensures section height stretches based on content */
  margin: 1.4rem 0;
  padding: 0;
  border-radius: 0.25rem;

  & .section-container {
    display: flex;
    padding: 1rem;
    margin: 0;

    & .bold-text {
      font-weight: bold;
      vertical-align: middle;
    }

    & .italic-text {
      font-style: italic;
      font-weight: bold;
    }

    & a {
      text-decoration: none;
      color: $dollyMagenta;
    }

    & a:hover {
      color: $dollyMagenta-light;
    }

    /** style for global section goes here */
    &__text {
      border-radius: 0.25rem;
      font-size: 1rem;
      font-weight: normal;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      width: 100%;

      /** global headers **/
      & h1 {
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 0.05em;
        color: $dollyMagenta;
      }

      & h2 {
        display: inline-block;
        font-size: bold;
        letter-spacing: 0.05em;
        margin: 0;
        padding: 0;
      }

      & h3 {
        display: inline-block;
        color: $dollyMagenta;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.05em;
        padding: 0;
        margin: 1rem 0 0;
      }

      /* used by service */
      & .serviceHeader {
        margin: 0.6rem;
      }

      /* hair graphic */
      * .hairGraphic {
        display: inline-block;
        width: 1.4rem;
        height: 1.4rem;
        padding: 0;
        vertical-align: middle;
      }

      & h4 {
        display: block;
        font-weight: bold;
        font-size: 1.1rem;
        margin: 0;
        padding: 0;
      }

      /** used by Home + Contact sections **/
      & h1.phoneNumber,
      & h1.email {
        display: block;
        font-weight: bold;
        letter-spacing: 0.04rem;
        color: $dollyMagenta;
        margin: 1rem 0;
        padding: 0;
        text-transform: none;

        & a {
          text-decoration: none;
        }
      }

      /* global pargraph style */
      & p {
        letter-spacing: 0.03em;
        margin: 1rem 0;
        padding: 0;
        line-height: 1.8rem;
      }

      /*** content section ***/
      /* content for home */
      & .home-locations {
        display: block;
        margin-top: 2rem;
        & .col {
          margin: 0;
          padding: 0;

          & p {
            width: 100%;
            text-align: right;
          }
        }
      }

      /* services */
      & .services-faq {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 2rem;

        & p {
          width: 70%;
          align-self: flex-end;
          text-align: right;
        }
      }

      /* content for Contact */
      & .map-locations {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        /* look in mediaQuery for flex-flow + justify content */

        & .col {
          display: flex;
          flex-flow: column nowrap;
          margin: 1rem;

          & h2 {
            margin: 0.5rem 0;
            text-align: center;
          }
          & iframe {
            align-self: center;
          }
        }
      }

      /* content for about section*/
      & .about-me {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;

        & .col {
          width: 100%;
          max-width: 60rem;
          margin: 0.5rem;
          padding: 0;

          & img {
            display: block;
            border-radius: 0.5rem;
            border: 0.1rem solid $dollyMagenta;
            padding: 0px;
            margin: 0px;
            object-fit: contain;
            width: 100%;
            height: auto;
          }
        }
      }

      & .about-cbd {
        margin-top: 4rem;
        width: 100%;

        & .col {
          margin: 0;
          padding: 0;
          align-self: flex-end;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-end;

          & img {
            display: block;
            border-radius: 0.5rem;
            border: 0.1rem solid $dollyMagenta;
            padding: 0;
            margin: 0;
            object-fit: contain;
            max-width: 40rem;
            width: 100%;
            height: auto;
          }

          & p {
            width: 100%;
            text-align: right;
          }
        }
      }
    }
  }
}
