section {
  height: calc(100vh - 7rem);
  margin: 1.4rem 0;
  padding: 0;
  border-radius: 0.25rem;

  & .section-container {
    display: flex;
    padding: 1rem;
    margin: 0;

    & h1 {
      font-weight: bold;
      font-size: 1.4rem;
      color: $dollyMagenta;
    }

    &__text {
      border-radius: 0.25rem;
      font-size: 1rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
