html {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #335533; /* this matches color from <Container> in App.js */
}

body {
  font-size: 62.5%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
