/* iPad Pro 10.5 */
/* portrait */
@media only screen and (max-device-width: 1112px) and (max-device-height: 834px) {
  #image-background {
    & .col.image {
      width: 75%;
      & img {
        width: 100%;
      }
    }
  }
}

/* iPad Pro 12.9 */
/* portrait */
@media only screen and (max-device-width: 1024px) and (max-device-height: 1366px) {
  #image-background {
    & .col.image {
      width: 100%;
      & img {
        width: 90%;
      }
    }
  }
}

/* iPad */
/* Landscape */
@media only screen and (max-device-width: 1024px) and (max-device-height: 768px) {
  #image-background {
    & .col.image {
      width: 75%;
      & img {
        width: 100%;
      }
    }
  }
}

/* Pixel 2XL query */
/* landscape */
@media only screen and (max-device-width: 823px) and (max-device-height: 411px) {
  #image-background {
    & .col.image {
      width: 100%;
      & img {
        width: 50%;
        height: auto;
      }
    }
  }
}

/* Galaxy S9/S9+ query */
/* landscape */
@media only screen and (max-device-width: 740px) and (max-device-height: 360px) {
  #image-background {
    & .col.image {
      width: 100%;
      & img {
        width: 50%;
        height: auto;
      }
    }
  }
}

@media only screen and (max-device-width: 360px) and (max-device-height: 740px) {
  #image-background {
    & .col.image {
      width: 100%;
    }
  }
}

/* iphone X plus query */
/* landscape */
@media only screen and (max-device-width: 812px) and (max-device-height: 375px) {
  #image-background {
    & .col.image {
      width: 100%;
      & img {
        width: 40%;
        height: auto;
      }
    }
  }
}

/* iphone 6/7/8 plus query */
/* landscape */
@media only screen and (max-device-width: 736px) and (max-device-height: 414px) {
  #image-background {
    & .col.image {
      width: 100%;
      & img {
        width: 50%;
        height: auto;
      }
    }
  }
}

/* portrait */
@media only screen and (max-device-width: 414px) and (max-device-height: 736px) {
  #image-background {
    & .col.image {
      width: 100%;
    }
  }
}

/* iphone 6/7/8 query */
/* landscape */
@media only screen and (max-device-width: 667px) and (max-device-height: 375px) {
  #image-background {
    & .col.image {
      width: 100%;
      & img {
        width: 50%;
        height: auto;
      }
    }
  }
}

@media only screen and (max-device-width: 375px) and (max-device-height: 667px) {
  #image-background {
    & .col.image {
      width: 100%;
    }
  }
}

/* iphone 5/SE query */
/* landscape */
@media only screen and (max-device-width: 568px) and (max-device-height: 320px) {
  #image-background {
    & .col.image {
      width: 100%;
      & img {
        width: 50%;
        height: auto;
      }
    }
  }
}

@media only screen and (max-device-width: 320px) and (max-device-height: 568px) {
  #image-background {
    & .col.image {
      width: 100%;
      & img {
        width: 125%;
        height: auto;
      }
    }
  }

  section {
    & .section-container {
      &__text {
        // & h1.phoneNumber,
        // & h1.email {
        //   font-size: 1.1rem;
        // }

        & .beforeAfter {
          &-container {
            & li {
              width: 12rem;
              height: 12rem;
              & img {
                width: 12rem;
                height: 12rem;
              }
            }
          }
        }

        & .map-locations {
          justify-content: center;
          & .col {
            & h2 {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

/* Galaxy S8/S8+ query */
/* landscape */ //@media only screen and (max-device-width: 2960px) and (max-device-height: 1440px) {
//@media only screen and (max-device-width: 740px) and (max-device-height: 360px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
@media only screen and (max-device-width: 2960px) and (max-device-height: 1440px) and (orientation: landscape) {
  #image-background {
    & .col.image {
      width: 50%;
    }

    & .col.right {
      width: 50%;
    }
  }
}

// @media only screen and (max-device-width: 740px) and (max-device-height: 360px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
//   #image-background {
//     & .col.image {
//       width: 100%;
//     }

//     & .col.right {
//       width: 50%;
//     }
//   }
// }
/* portrait */
// @media only screen and (max-device-width: 1440px) and (max-device-height: 2960px) {
//   #image-background {
//     & .col.image {
//       width: 50%;
//     }

//     & .col.right {
//       width: 50%;
//     }
//   }
// }
