//triggered when screen GOES above <res>

//triggered when screen GOES above <res>
@media (min-width: 0px) {
  #main-container {
    position: relative;
    right: 0;
  }

  ul.wide-menu {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }
  #image-background {
    display: none;
  }

  .section-container {
    &__text {
      width: 100%;

      & h1 {
        text-align: center;
      }
      & p {
        text-align: left;
        width: 100%;
      }
    }
  }

  footer {
    width: 100%;
  }
}

// Medium devices (tablets, 600 and up)
@media (min-width: 600px) {
}

// Large devices (desktops, 960px and up)
@media (min-width: 960px) {
  #image-background {
    display: flex;
  }
  ul.wide-menu {
    display: flex;
  }

  .mobileMenu {
    display: none;
  }

  .section-container {
    &__text {
      width: 80%;

      & h1 {
        text-align: right;
      }
      & p {
        align-self: flex-end;
        text-align: right;
      }
    }
  }

  footer {
    width: 100%;
  }
}

// large devices (large desktops, 1280px  and up)
@media (min-width: 1280px) {
  #main-container {
    position: absolute;
    right: 2rem;
  }
  footer {
    width: 80%;
  }
}
