//triggered when screen GOES above <res>

//triggered when screen GOES above <res>
@media (min-width: 0px) {
  #main-container {
    position: relative;
    right: 0;
  }

  ul.wide-menu {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }
  #image-background {
    display: none;
  }

  section {
    height: calc(100vh -7rem);
  }

  footer {
    width: 100%;
  }
}

// Medium devices (tablets, 600 and up)
@media (min-width: 600px) {
  .section-container {
    &__text {
      & p {
        width: 100%;
      }
    }
  }
}

@media (min-width: 800px) {
  #main-container {
    right: 0;
  }
  .section-container {
    &__text {
      & p {
        width: 100%;
        align-self: flex-end;
      }
    }
  }
}

// Large devices (desktops, 960px and up)
@media (min-width: 960px) {
  ul.wide-menu {
    display: flex;
  }

  .mobileMenu {
    display: none;
  }

  #image-background {
    display: flex;
  }

  .section-container {
    justify-content: flex-end;

    &__text {
      & h1 {
        text-align: right;
      }
      & p {
        align-self: flex-end;
        text-align: right;
        width: 60%;
      }
    }
  }

  footer {
    width: 100%;
  }
}

// large devices (large desktops, 1280px  and up)
@media (min-width: 1280px) {
  #main-container {
    position: absolute;
    right: 2rem;
  }
  .section-container {
    &__text {
      & p {
        width: 70%;
      }
    }
  }
  footer {
    width: 80%;
  }
}
