//triggered when screen GOES above <res>

//triggered when screen GOES above <res>
@media (min-width: 0px) {
  #main-container {
    position: relative;
    right: 0;
  }

  .navbar {
    & .col {
      width: 15%;

      &.logo {
        width: 100%;

        & .logo {
          width: 90%;
        }
      }
    }
  }

  ul.wide-menu {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }

  #image-background {
    display: flex;

    .col.image {
      width: 80%;
    }

    .col.right {
      width: 20%;
    }
  }

  section {
    background-color: rgba(255, 255, 255, 0.85);

    & .section-container {
      &__text {
        & h1.phoneNumber,
        & h1.email {
          font-size: 1.2rem;
        }

        & .serviceHeader {
          font-size: 1.3rem;
        }

        & p {
          font-size: 1.1rem;
        }

        & .home-locations {
          & .col {
            width: 100%;
            & p {
              text-align: left;
            }
          }
        }

        & .services-faq {
          & p {
            width: 100%;
            align-self: flex-start;
            text-align: left;
          }
        }

        & .about-me {
          flex-flow: row wrap;

          & .col {
            width: 100%;
          }
        }

        & .about-cbd {
          & .col {
            width: 100%;
            & p {
              text-align: left;
            }
          }
        }

        & .map-locations {
          justify-content: center;
          flex-flow: column nowrap;

          & .col {
            flex-flow: column wrap;
          }
        }

        & .beforeAfter {
          justify-content: flex-start;
          &-container {
            padding: 0;

            & li {
              width: 15rem;
              height: 15rem;
              & img {
                width: 15rem;
                height: 15rem;
              }
            }
          }
        }
      }
    }
  }

  footer {
    width: 100%;
  }
}

// Medium devices (tablets, 600 and up)
@media (min-width: 600px) {
  .navbar {
    & .col {
      width: 20%;

      &.logo {
        width: 100%;

        & .logo {
          width: 60%;
        }
      }
    }
  }
  .section-container {
    &__text {
      & p {
        width: 100%;
      }
    }
  }
}

@media (min-width: 800px) {
  #main-container {
    right: 0;
  }

  section {
    & .section-container {
      &__text {
        & h1.phoneNumber,
        & h1.email {
          font-size: 2rem;
        }

        & .serviceHeader {
          font-size: 1.4rem;
        }

        & p {
          font-size: 1.2rem;
          width: 100%;
          align-self: flex-end;
        }

        & .map-locations {
          justify-content: center;
          flex-flow: row nowrap;
        }

        & .beforeAfter {
          justify-content: flex-end;
          &-container {
            padding: 1rem;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 960px and up)
@media (min-width: 960px) {
  .navbar {
    & .col {
      width: 50%;

      &.logo {
        width: 50%;

        & .logo {
          width: 50%;
        }
      }
    }
  }
  ul.wide-menu {
    display: flex;
  }

  .mobileMenu {
    display: none;
  }

  #image-background {
    display: flex;

    .col.image {
      width: 50%;
    }

    .col.right {
      width: 50%;
    }
  }

  section {
    background-color: transparent;

    & .section-container {
      justify-content: flex-end;

      &__text {
        & h1,
        & h2,
        & h3 {
          text-align: right;
        }

        & p {
          align-self: flex-end;
          text-align: right;
          width: 65%;
        }

        & .home-locations {
          & .col {
            & p {
              text-align: right;
            }
          }
        }

        & .services-faq {
          & p {
            width: 70%;
            align-self: flex-end;
            text-align: right;
          }
        }

        & .about-me {
          flex-flow: row nowrap;
        }

        & .about-cbd {
          display: flex;
          justify-content: flex-end;
          & .col {
            width: 65%;
            & p {
              text-align: right;
            }
          }
        }

        & .map-locations {
          justify-content: flex-end;
        }
      }
    }
  }

  footer {
    width: 100%;
  }
}

// large devices (large desktops, 1280px  and up)
@media (min-width: 1280px) {
  #main-container {
    position: absolute;
    right: 2rem;
  }
  .section-container {
    &__text {
      & p {
        width: 70%;
      }
    }
  }
  footer {
    width: 80%;
  }
}

@media (min-height: 0px) {
  #image-background {
    & .col {
      & img {
        width: 50%;
      }
    }
  }
}

@media (min-height: 600px) {
  #image-background {
    & .col {
      & img {
        width: 90%;
      }
    }
  }
}

/* iphone 5/SE query */
/* landscape */
@media only screen and (max-device-width: 568px) and (max-device-height: 320px) {
  #image-background {
    & .col {
      & img {
        width: 50%;
        height: auto;
      }
    }
  }
}

@media only screen and (max-device-width: 320px) and (max-device-height: 568px) {
  #image-background {
    & .col {
      & img {
        width: 125%;
        height: auto;
      }
    }
  }

  section {
    & .section-container {
      &__text {
        & h1.phoneNumber,
        & h1.email {
          font-size: 1.1rem;
        }

        & .beforeAfter {
          &-container {
            & li {
              width: 12rem;
              height: 12rem;
              & img {
                width: 12rem;
                height: 12rem;
              }
            }
          }
        }

        & .map-locations {
          justify-content: center;
          & .col {
            & h2 {
              font-size: 1.2rem;
            }
            & .google-mapLocation {
              width: 14rem;
              height: 14rem;
            }
          }
        }
      }
    }
  }
}
