.beforeAfter-image {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;

  & img {
    border: 1px solid $off-gray;
  }

  & img:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
