.beforeAfter-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  & img {
    vertical-align: middle;
    border: 0.1rem solid $off-gray;
  }

  & img:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
