.beforeAfter {
  display: block;
  margin: 0 auto;
  background-color: $dollyMagenta;
  border-radius: 0.25rem;

  &-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding: 1rem;

    & li {
      width: 250px;
      height: 250px;
      margin: 0.5rem;
      padding: 0;
      background-color: #333;
    }
  }
}
