.beforeAfter-image {
  display: flex;
  justify-content: center;
  margin: 0;

  & img {
    display: block;
    border: 0.12rem solid $off-gray;
    margin: 0;
    padding: 0;
  }

  & img:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
