footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 1rem 0;
  padding: 0;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 0.8rem;
  height: 100%;

  & a {
    text-decoration: none;
    color: $dollyMagenta;
  }

  & a:hover {
    color: $off-black;
  }

  & button:hover {
    opacity: 0.75;
  }
}
